<sa-header></sa-header>





<div id="main" role="main">
  <sa-layout-switcher></sa-layout-switcher>

  <sa-ribbon></sa-ribbon>

  <router-outlet></router-outlet>
</div>

<sa-navigation></sa-navigation>

<sa-footer></sa-footer>

<sa-shortcut></sa-shortcut>
